// font color
$pr-green: #84E5B1;
$pr-purple: #BA99FF;
$pr-pink: #FF99E2;
$pr-blue: #62B3FF;

$background: #f8f8f8;
$gray600: #565656;
$gray500: #989898;
$gray400: #dbdbdb;
$gray300: #dddddd;
$gray200: #eeeeee;
$gray100: #f9f9f9;
$white: #ffffff;
$black: #000000;

